<!doctype html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>about - VajnarTech</title>
	<link rel="stylesheet" href="/static/welcome/css/style.css" type="text/css">
	<link rel="stylesheet" type="text/css" href="/static/welcome/css/mobile.css">
	<script src="/static/welcome/js/mobile.js" type="text/javascript"></script>
</head>
<body>
	<div id="page">
		<div id="header">
			<div>
				<a href="/welcome" class="logo"><img src="/static/welcome/images/logo.png" alt=""></a>
				<ul id="navigation">
					<li>
						<a href="/welcome">Domov</a>
					</li>
					<li class="selected">
						<a href="/welcome/about">Info</a>
					</li>
					<li>
						<a href="/welcome/contact">Kontakt</a>
					</li>
				</ul>
			</div>
		</div>
		<div id="body" class="about">
			<div class="header">
				<div>
					<h1>Nudimo</h1>
					<h2>Servis osebnih računalnikov. Administracija WiFi omrežja. Izdelava programov po naročilu. Izdelava spletnih strani. IT</h2>
					<p>VajnarTech, Načrtovanje in razvoj</p>
					<p>Zoran Robič s.p.</p>
					<p>e-mail: vajnar7@gmail.com</p>
					<p>telefon: +386 41 753 874</p>
					<p>www.vajnar-tech.si</p>
				</div>
			</div>

		</div>
		<div id="footer">
			<div class="connect">
				<div>
					<h1></h1>
					<div>
						<a href="http://freewebsitetemplates.com/go/facebook/" class="facebook">facebook</a>
						<a href="http://freewebsitetemplates.com/go/twitter/" class="twitter">twitter</a>
						<a href="http://freewebsitetemplates.com/go/googleplus/" class="googleplus">googleplus</a>
						<a href="http://freewebsitetemplates.com/go/pinterest/" class="pinterest">pinterest</a>
					</div>
				</div>
			</div>
			<div class="footnote">
				<div>
					<p>&copy; 2016 BY VAJNAR TECH | ALL RIGHTS RESERVED</p>
				</div>
			</div>
		</div>
	</div>
</body>
</html>